.app-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 10rem;
}

.content-wrapper {
    flex-grow: 1;
    overflow: auto;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(162deg, #141b2d 0%, #1f4b54 72%, #2f5846 100%);
}

.content {
    flex-grow: 1;
    @media only screen and (min-width: 1300px) {
        padding: 0 16%;
    }
}

.footer {

}

.projects {
}