<div class="container">
    <div class="projects-container">
        <div class="project">
            <div class="project-image">
                <img src="assets/images/figma.png" alt="angular image" />
            </div>
            <h1 class="project-title">Diseños Web</h1>
            <div class="project-description">
                <p class="description-text">
                    Diseños de sitios web prototipados con Adobe Illustrator y Figma.
                </p>
            </div>
            <div class="project-link" (click)="goToUrl('https://www.figma.com/file/c0IRFYwJtWBTrCtoUyjtCm/Lorem-Solutions')">+ Boceto Web Financiera</div>
            <div class="project-link" (click)="goToUrl('https://www.figma.com/file/SjcINAWmEX8coGY6bwuGhL/Green-Ipsum')">+ Boceto Web de ONG</div>
            <div class="project-link" (click)="goToUrl('https://www.figma.com/file/6aOpc7xlZFUv27c3bKkwnR/Amet-Wears')">+ Boceto Web de Ropa</div>
        </div>
        <div class="project">
            <div class="project-image">
                <img src="assets/images/modelling.png" alt="angular image" />
            </div>
            <h1 class="project-title">Modelos 3D</h1>
            <div class="project-description">
                <p class="description-text">
                    Modelos 3D creados en Blender y ZBrush.
                </p>
            </div>
            <div class="project-link">+ Enlace Próximamente</div>
        </div>
        <div class="project">
            <div class="project-image">
                <img src="assets/images/photoshop.png" alt="angular image" />
            </div>
            <h1 class="project-title">Composición</h1>
            <div class="project-description">
                <p class="description-text">
                    Composiciones y montajes fotográficos realizados con Adobe Photoshop.
                </p>
            </div>
            <div class="project-link">+ Enlace Próximamente</div>
        </div>
    </div>
    <div class="separator"></div>
</div>
