// $primary-backgroundColor: #ea4747;
// $secondary-backgroundColor: #81c8d8;
// $tertiary-backgroundColor: #358496;
// $quaternary-backgroundColor: #ffffff;

$primary-textColor: #ffffff;
$secondary-textColor: #daeae3;
$tertiary-textColor: #85e2c7;
$quaternary-textColor: #1BA38E;

$background-timelineColor: #329AA7;
$primary-timelineColor: #a2f5d2;
$secondary-timelineColor: #53cee2;

// $gray-textColor: #b5b5b5;
// $borderColor: #e7f0f2;
// $arrowColor: #503737;
// $arrowColor-hover: #6e4b4b;
// $button-backgroundColor: #e7f0f2;
// $button-hover-backgroundColor: white;
// $button-danger-backgroundColor: #923434;
// $button-danger-hover-backgroundColor: #a53737;
// $title-shadowColor: #256b7a;