<div class="container">
    <div class="projects-container">
        <div class="project">
            <div class="project-image"></div>
            <h1 class="project-title">Angular 2+</h1>
            <div class="project-description">
                <p class="description-text">
                    Proyecto realizado en Angular 8, sobre la API PokeApi. La aplicación consiste en una "pokédex" que permite buscar pokémons y consultar sus detalles. Se realizan llamadas asíncronas a la API, se utiliza el routing de Angular y está organizada por componentes. Además, está traducida a varios idiomas mediante ngx-translate. Es una app responsive: está adaptada para pantallas de PC, de móvil y de tablet.
                </p>
            </div>
            <div class="project-link" (click)="goToUrl('https://jordoe.github.io/PokeAngular')">+ Enlace a la app</div>
            <div class="project-link" (click)="goToUrl('https://github.com/jordoe/PokeAngular')">+ Enlace al repositorio</div>
        </div>
        <div class="project">
            <div class="project-image"></div>
            <h1 class="project-title">Ionic</h1>
            <div class="project-description">
                <p class="description-text">
                    Aplicación realizada con Ionic 4 y Angular 8, sobre la API TheMovieDb. Consiste en un buscador de películas con dos tipos de búsqueda: un módulo que devuelve una película aleatoria basada en los filtros introducidos, y otro en el que se permite encontrar películas mediante búsqueda de texto, ordenándolos como prefiera el usuario. Además, pueden marcarse las películas como "guardada", "vista" y "favorita". Así mismo, pueden consultarse detalles tanto de las películas como de los directores y actores.
                </p>
            </div>
            <div class="project-link" (click)="goToUrl('https://jordoe.github.io/ionic-imdb')">+ Enlace a la app</div>
            <div class="project-link" (click)="goToUrl('https://github.com/jordoe/ionic-imdb')">+ Enlace al repositorio</div>
        </div>
        <div class="project">
            <div class="project-image"></div>
            <h1 class="project-title">GitHub</h1>
            <div class="project-description">
                <p class="description-text">
                    Todos mis proyectos almacenados en GitHub. 
                </p>
            </div>
            <div class="project-link" (click)="goToUrl('https://github.com/jordoe')">+ Enlace a GitHub</div>
        </div>
    </div>
    <div class="separator"></div>
</div>
